{
  "plugins": [
    "inline-dotenv"
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": "usage"
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["inline-dotenv", {
          "path": ".development.env"
        }]
      ]
    },
    "production": {
      "plugins": [
        ["inline-dotenv", {
          "path": ".production.env"
        }]
      ]
    }
  }
}
