@import "_reset.css";
@import "_variables.css";

.container {
  background-color: aliceblue;
}

.header {
  background-color: bisque;
}

.main {
  background-color: gainsboro;
}

.footer {
  background-color: mediumpurple;
}
