@import "normalize.css";
@import "_variables.css";

body {
  color: var(--color);
}

.foo {
  color: blue;
  display: flex;
  & .bar {
    color: blue;
    display: flex;
  }
}

.foo {
  border: solid 1px;
}
@media (min-width: 300px) {
  .baz {
    color: green;
  }
}

@media (min-width: 300px) {
  .bar {
    color: var(--color);
  }
}
