@import '_variables.css';

.foo {
  color: var(--color);
  display: flex;
  & .bar {
    color: blue;
    display: flex;
  }
}

@media (min-width: 300px) {
  .bar {
    color: var(--color);
  }
}
@media (min-width: 300px) {
  .baz {
    color: green;
  }
}
