@import '_variables';

.foo {
  color: $color;
  display: flex;
  & .bar {
    color: blue;
    display: flex;
  }
}

@media (min-width: 300px) {
  .bar {
    color: $color;
  }
}
@media (min-width: 300px) {
  .baz {
    color: green;
  }
}
