{% extends "_template.njk" %}

{% block header %}
  <p>Top page header</p>
{% endblock %}
{% block main %}
  <div id="app"></div>
{% endblock %}
{% block footer %}
  <p>Top page footer</p>
{% endblock %}
