{% extends "template/common.njk" %}

{% block header %}
  <h1>Hello {{user}}</h1>
  <p>Top page header</p>
{% endblock %}
{% block main %}
  <div id="app"></div>
{% endblock %}
{% block footer %}
  <p>Top page footer</p>
{% endblock %}
