{% extends "template/common.njk" %}

{% block header %}
  <h1 class="{{css.button.root}}">Hello {{user}}</h1>
  <p class="{{css.top.bar}}">Top page header</p>
{% endblock %}
{% block main %}
  <div id="app"></div>
{% endblock %}
{% block footer %}
  <p>Top page footer</p>
{% endblock %}
