{% extends "template/common.njk" %}

{% block header %}
  <p>Sub page header</p>
{% endblock %}
{% block main %}
  <p>Sub page main</p>
{% endblock %}
{% block footer %}
  <p>Sub page footer</p>
{% endblock %}
